body {
  font-family: Avenir;
}

/* Index Page CSS */
.index {
  padding-left: 30px;
}

.index h1 {
  padding-bottom: 30px;
}

.index .button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #9C27B0;
  font-size: 26px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 30px;
  text-decoration: none;
}

/* Login Page CSS */
.login {
  text-align: center;
}

.login-area {
  padding-left: 20px;
  width: 255px;
}

.login-area .buttons {
  text-align: center;
}

.login-area .buttons .button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #9C27B0;
  font-size: 15px;
  cursor: pointer;
  display: block;
  padding-top: 13px;
  text-decoration: none;
}

.input {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: solid gray 1px;
  padding: 5px;
}

/* All Groups Page CSS */
.main {
  background-image: url(./images/phone-with-white.png);
  position: fixed;
  width: 1100px;
  height: 690px;
  overflow:auto;
}

.screen {
  background-color: white;
  margin-left: 52px;
  margin-top: 108px;
  width: 291px;
  height: 457px;
  overflow: scroll;
}

.screen #content {
  padding-top: 55px;
  padding-left: 10px;
  width: 95%;
  padding-bottom: 55px;
}

.screen #content .groups-headline {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  padding-top: 5px;
  padding-bottom: 10px;
}

.screen #content .my-groups {
  overflow: scroll;
  height: 140px;
  margin-top: 6px;
}

.screen #content .all-groups {
  overflow: scroll;
  height: 140px;
  margin-top: 6px;
}

.screen #content .inner {
  width: 10000px;
}

.screen #content .box {
  width: 140px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  float:left;
  text-decoration: none;
}

.screen #content .box .upper {
  background-color: orange;
  height: 74px;
  border-radius: 3px;
}

.screen #content .box .group-title {
  color: white;
  padding-left: 5px;
  font-size: 12px;
  padding-top: 5px;
}

.screen #content .box .attending img {
  width: 13px;
  position: relative;
  top: 33px;
  left: 107px;
}

.screen #content .box .attending .number-attendees {
  position: relative;
  top: 32px;
  left: 106px;
  color: white;
  font-size: 16px;
}

.screen #content .box .below {
  font-size: 10px;
  margin-top: 4px;
  margin-left: 4px;
}

.screen #content .box .time {
  color: black;
}

.screen #content .box .description {
  color: #a5a5a5;
}

.screen #content .more-space {
  margin-top: 15px;
}

.top {
  position: fixed;
  width: 291px;
  background-color: white;
  height: 50px;
  margin-top: -1px;
  text-align: center;
  border-bottom: solid gray 1px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

.top #new {
  border-right: solid gray 1px;
  height: 50px;
  font-size: 37px;
  flex: 1 0 0;
  text-decoration: none;
  color: black;
}

.top #headline {
  border-right: solid gray 1px;
  height: 50px;
  flex: 2 0 0;
}

.top #search {
  height: 50px;
  flex: 1 0 0;
  text-decoration: none;
  color: black;
}

.bottom {
  position: fixed;
  width: 291px;
  background-color: white;
  height: 50px;
  margin-top: 408px;
  text-align: center;
  border-top: solid gray 1px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

.bottom .text {
  font-size: 10px;
  margin-top: -5px;
}

#all-groups {
  border-right: solid gray 1px;
  height: 50px;
  flex: 1 0 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#all-groups img {
  width: 30px;
  padding-top: 4px;
}

#calendar {
  border-right: solid gray 1px;
  height: 50px;
  flex: 1 0 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#calendar img {
  width: 30px;
  padding-top: 4px;
}

#account {
  height: 50px;
  flex: 1 0 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#account img {
  width: 28px;
  padding-top: 4px;
}

/* New Group CSS */
.top #back {
  text-decoration: none;
  width: 80px;
  border-right: solid gray 1px;
  color: black;
}

/* Account CSS */

.account #user-data {
  text-align: center;
}

.account #avatar {
  margin-top: 12px;
  width: 100px;
  border-radius: 50%;
}

.account #username {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.account .button {
  width: 91%;
  border: none;
  color: white;
  background-color: #9C27B0;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.account .button:last-child {
  margin-bottom: 60px;
}

/* Group 1 CSS */
.group1 #groupname {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.group1 #subject {
  font-size: 12px;
  margin-bottom: 15px;
}

.group1 div p {
  display: inline;
  font-size: 10px
}

.group1 .info {
  margin-bottom: 10px;
}

.group1 .time p {
  margin-left: 10px;
}

.group1 .location img {
  margin-left: 4px;
}

.group1 .location p {
  margin-left: 18px;
}

.group1 .information p {
  margin-left: 12px;
}

.group1 .icon {
  height: 30px;
  vertical-align: middle;
}

.group1 .members {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.group1 .member {
  margin-right: 10px;
}

.group1 .members .member img {
  width: 50px;
  border-radius: 50%;
}

.group1 .button {
  width: 91%;
  border: none;
  color: white;
  background-color: #9C27B0;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.fa-plus, .fa-search{
  font-size: x-large;
  color: #F27935;
}

.fa-users {
    font-size: 30px;
    padding: 5px;
}

.fa-users.active, .text.active{
    color: #9C27B0;
}


#overlay {
    position: fixed;
    display: none;
    width: 200px;
    height: 250px;
    top: 200px;
    left: 100px;
    background-color: rgba(156, 39, 176, 0.81);
    z-index: 2;
    border-radius: 4px;
}

#overlay #close {
  color: white;
  font-size: 30px;
  padding-left: 175px;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

#overlay #image {
  width: 100px;
  padding-left: 50px;
  padding-top: 14px;
}

#overlay #join-text {
  padding-top: 16px;
  padding-left: 20px;
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
}
