.main {
  background-image: url(./images/phone-with-white.png);
  width: 1100px;
  height: 690px;
  overflow:auto;
}

.test {
  background-color: red;
  margin-left: 52px;
  margin-top: 108px;
  width: 290px;
  height: 457px;
  overflow: scroll;
}

.top {
  position: fixed;
}
